@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700';

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  color: #18171f;
  font-weight: 400;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.2em;
}

hr {
  margin: 3em 0;
}

p {
  font-weight: 300;
}

.nav {
  padding: 1em 0;
}

.logo {
  text-transform: uppercase;
  letter-spacing: 2.5px;
  color: #18171f;
}

.heading {
  padding-top: .5em;
}

.subheading {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.subtitle {
  font-size: 1.5em;
  font-weight: 300;
  color: #747378;
}

.container {
  margin: 0 auto;
  max-width: 90%;
  padding: 1em;
}

.container.inner {
  max-width:80%;
}

.slider-img-wrapper {
   position: relative;
  height: 500px;
  width: 300px;
  border-radius: 10px;
  display: inline-block;
  color: #fff
}

.slider-img-wrapper:after {
    content: '\A';
    position: absolute;
    width: 100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.3);
    opacity: 1;
    transition: all 1s;
    -webkit-transition: all 1s;
    border-radius: 10px;
}

.slider-img-wrapper:hover:after {
    opacity: .5;
}

img.slider-imgs {
  width: 100%;
  height: 100%;
  vertical-align: top;
  object-fit:cover;
  border-radius: 10px;
}

.slider-title {
  position: absolute;
  left: 45px;
  top: 45px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: .9em;
  z-index: 3;
}

.slider-description {
  position: absolute;
  left: 45px;
  top: 54px;
  z-index: 3;
}

p.slider-body {
    font-size: .8em;
    opacity: 0.8;
  }

.footer {
  list-style-type: none;
  margin: 0;
  padding: 3em 0;
  text-align: center;
}

.footer > li {
  display: inline;
  padding: 1em;
}

.footer > li > a > i{
  color: #18171f;
}

.slider-img-container {
  display: inline;
}

.slider-overlay-title {
  position: absolute;
  margin: 2em;
  color: #fff;
}

.slider-overlay-subtitle {
  position: absolute;
  margin: 400px 0 0 2em;
  color: #fff;
}

.header-img {
  margin: 2em 0;
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.muted {
  color: #747378;
}

.black {
  color: #18171f;
}

.text-center {
  text-align: center;
}

.subtitle.link {
  font-size: 1em;
  margin-top: 0;
}

.heading.project {
  margin-bottom: 0;
}

.img-wrapper {
  text-align: center;
}

.project-img {
  width: 60%;
  height: auto;
  object-fit: cover;
  margin-bottom: 1em;
}

@media only screen and (max-width: 767px) {
  .slider {
    height: 400px;
  }
  a.slider-img {
    width: 250px;
    height: 400px;
  }

  .slider-title, .slider-description {
    left: 20px;
  }

  .project-img {
    width: 100%;
  }
}
