{% extends "layout.html" %}

{%  block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fluffy.min.css') }}" media="screen">
{% endblock %}

{% block main %}
<div class="container inner">
  <h1 class="heading">Passionate about design and inspired by simplicity</h1>
  <p class="subtitle">
    My name is Bryan, and I am currently studying computer science at UCLA. I am interested in anything web dev, fashion, music, photography, weightlifting, and traveling.
  </p>
  <p class="subtitle">
    This is my personal playground that I will use to showcase some of the projects I have participated in. I love meeting passionate people, so if you want to get in touch or have an awesome idea for a project, feel free to shoot me an email at bryanvantran@ucla.edu.
  </p>
  <hr>
  <h2 class="subheading">Projects</h2>
</div>
<div class="container">
  <div data-fluffy-container data-fluffy-options='{"showScrollbars": false, "mouseDamp": 40}'>
    <div data-fluffy-content>
      {% for project in projects %}
      <a href="{{ project['slug'] }}">
        <div class="slider-img-wrapper">
          <span class="slider-title">{{ project['title'] }}</span>
          <div class="slider-description">
              <p class="slider-body">{{ project['tagline'] }}</p>
          </div>
          <img class="slider-imgs" src="{{ url_for('static', filename='img/' ~ project['slug'] ~ '/' ~ project['home-img']) }}" alt="">
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='js/fluffy.js')}}"></script>
{% endblock %}
